.search-genre {
   padding: 1.5vmax 0;
}

.search-genre > h1 {
    font-size: 1.8vmax;
    color: white;
    margin-bottom: 1vmax;
}

.search-genre > ul {
    width: 60vmax;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1vmax;
}

.search-genre > ul li{
    font-size: 1vmax;
    border-radius: 7px;
    text-align: center;
    width: 6vmax;
    height: 2vmax;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    transform: scale(1);
    transition: 0.2s;

    display: grid;
    place-items: center;
}

.search-genre > ul li:hover{
    transform: scale(1.05);
}