.user-icon{
    width: 3vmax;
    height: 3vmax;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2.5vmax;
}

/* man icon */
#userIcon-1 {
    background-image: url("../../Images/user-icon/icon-1.png");
}
#userIcon-3 {
    background-image: url("../../Images/user-icon/icon-3.png");
}
#userIcon-5 {
    background-image: url("../../Images/user-icon/icon-5.png");
}
#userIcon-7 {
    background-image: url("../../Images/user-icon/icon-7.png");
}
#userIcon-9 {
    background-image: url("../../Images/user-icon/icon-9.png");
}
#userIcon-11 {
    background-image: url("../../Images/user-icon/icon-11.png");
}

/* woman icon */
#userIcon-2 {
    background-image: url("../../Images/user-icon/icon-2.png");
}
#userIcon-4 {
    background-image: url("../../Images/user-icon/icon-4.png");
}
#userIcon-6 {
    background-image: url("../../Images/user-icon/icon-6.png");
}
#userIcon-8 {
    background-image: url("../../Images/user-icon/icon-8.png");
}
#userIcon-10 {
    background-image: url("../../Images/user-icon/icon-10.png");
}
#userIcon-12 {
    background-image: url("../../Images/user-icon/icon-12.png");
}