.header-container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 9vmax;
    align-items: center;
    box-shadow: 0px 0px 20px rgb(120, 116, 0);
}

.header-right {
    display: flex;
    align-items: center;
    gap: 0.5vmax;
}

.header-right-h1 {
    font-size: 1.2vmax;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.5s;
    cursor: default;
}

.header-logo {
    background-image: url("../../Images/logo.png");
    width: 3vmax;
    height: 3vmax;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0.6vmax 0;
    transform: rotate(0) scale(1);
    transition: 0.1s;
}
.header-logo:hover {
    transform: scale(1.1);
}

.header-center {
    position: absolute;
    top: 50%;
    left: 20vmax;
    transform: translate(0 , -50%);
    display: flex;
    gap: 1vmax;
}

.menu-btns {
    background-color: transparent;
    border: none;
    color: white;
    outline: 0.1vmax solid red;
    padding: 0.3vmax 1vmax;
    border-radius: 0.3vmax;
    cursor: pointer;
    font-size: 0.6vmax;
    transition: 0.2s;
    transform: scale(1);
}
.menu-btns:hover {
    transform: scale(1.08);
}

.Profile-btn {
    height: 1.8vmax;
    background-color: transparent;
    color: white;
    border: none;
    padding: 0.3vmax 1vmax;
    outline: 0.1vmax solid rgb(4, 0, 255);
    border-radius: 0.3vmax;
    cursor: pointer;
    font-size: 0.7vmax;
    display: flex;
    gap: 0.7vmax;
    direction: ltr;
    transition: 0.2s;
    transform: scale(1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.Profile-btn:hover {
    transform: scale(1.02);
    
}

.ProfileBtn-back {
    display: flex;
    align-items: center;
    gap: 20px;
}