/* loged in */
.Container-Firstpage-Logedin-back {
    width: 100%;
    height: 100%;
    background-image: url("../../Images/Screenshot\ 2023-05-05\ 195337.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    color: white;
    position: relative;
}

.Container-Firstpage-Logedin {
    position: absolute;
    left: 5vmax;
    top: 50%;
    transform: translate(0, -50%);
}

.Container-Firstpage-Logedin-h1 {
    font-size: 2.5vmax;
    margin-bottom: 1.5vmax;
    color: #64c5c3 ;
    text-shadow: #000000  1px 5px 10px;
}
.Container-Firstpage-Logedin-h2 {
    font-size: 2vmax;
    margin-bottom: 0.5vmax;
    color: #99aa4f ;
    text-shadow: #000000  1px 5px 10px;
}

.Container-Firstpage-Logedin-btn-ProfilePage ,
.Container-Firstpage-Logedin-btn-DashboardPage ,
.Container-Firstpage-Logedin-btn-Logout {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1vmax;
    padding: 0.3vmax 1vmax;
    border-radius: 0.5vmax;
}

.Container-Firstpage-Logedin-btn-ProfilePage {
    border: 0.2vmax solid #ff7700;
    margin-right: 1vmax;
    color: #ff006f;
    text-shadow: #000000  1px 2px 5px;
    box-shadow: 5px 2px 5px #99aa4f8c;
    cursor: pointer;
    font-weight: bold;
    transform: scale(1);
    transition: 0.3s;
}
.Container-Firstpage-Logedin-btn-ProfilePage:hover {
    transform: scale(1.05);
    box-shadow: 10px 5px 10px #99aa4f8c;
    background-color: #ff77007d;
}

.Container-Firstpage-Logedin-btn-DashboardPage {
    border: 0.2vmax solid #ff006f;
    color: #ff7700;
    text-shadow: #000000  1px 2px 5px;
    box-shadow: 5px 2px 5px #99aa4f8c;
    cursor: pointer;
    font-weight: bold;
    transform: scale(1);
    transition: 0.3s;
}
.Container-Firstpage-Logedin-btn-DashboardPage:hover {
    transform: scale(1.05);
    box-shadow: 10px 5px 10px #99aa4f8c;
    background-color: #ff006f78;
}

/* loged out */

.Container-Firstpage-Logeout-back {
    width: 100%;
    height: 100%;
    background-image: url("../../Images/Screenshot\ 2023-05-05\ 195132.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;

    color: white;
    position: relative;
}

.Container-Firstpage-Logeout {
    position: absolute;
    left: 5vmax;
    top: 50%;
    transform: translate(0, -50%);
}

.Container-Firstpage-Logeout-h1 {
    font-size: 2.5vmax;
    margin-bottom: 1.5vmax;
    color: #9e6a3a ;
    text-shadow: #666666  1px 3px 5px;
}
.Container-Firstpage-Logeout-h2 {
    font-size: 2vmax;
    margin-bottom: 0.5vmax;
    color: #6f7068  ;
    text-shadow: #a0a0a0  1px 3px 13px;
}

.Container-Firstpage-Logedin-btn-SignupPage ,
.Container-Firstpage-Logedin-btn-LoginPage {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1vmax;
    padding: 0.3vmax 1vmax;
    border-radius: 0.5vmax;
}

.Container-Firstpage-Logedin-btn-SignupPage {
    border: 0.2vmax solid #900000;
    margin-right: 1vmax;
    color: #022d8a;
    text-shadow: #900000  1px 2px 5px;
    box-shadow: 5px 2px 5px #900000;
    cursor: pointer;
    font-weight: bold;
    transform: scale(1);
    transition: 0.3s;
}
.Container-Firstpage-Logedin-btn-SignupPage:hover {
    transform: scale(1.05);
    box-shadow: 10px 5px 10px #900000;
    background-color: #9000007d;
}

.Container-Firstpage-Logedin-btn-LoginPage {
    border: 0.2vmax solid #00287d;
    color: #900000;
    text-shadow: #00287d  1px 2px 5px;
    box-shadow: 5px 2px 5px #00287d;
    cursor: pointer;
    font-weight: bold;
    transform: scale(1);
    transition: 0.3s;
}
.Container-Firstpage-Logedin-btn-LoginPage:hover {
    transform: scale(1.05);
    box-shadow: 10px 5px 10px #00287d;
    background-color: #00287da2;
}
