.film-details {
  width: 100%;
  min-height: 100vh;
  max-height: auto;
  padding: 5vmax 0;
  background: linear-gradient(228deg, #000000, #356d6a, #000000, #7c4d71, #000000, #000000);
  background-size: 1200% 1200%;

  -webkit-animation: movieListAnimation 30s ease infinite;
  -moz-animation: movieListAnimation 30s ease infinite;
  animation: movieListAnimation 30s ease infinite;
}

@-webkit-keyframes movieListAnimation {
  0%{background-position:0% 92%}
  50%{background-position:100% 9%}
  100%{background-position:0% 92%}
}
@-moz-keyframes movieListAnimation {
  0%{background-position:0% 92%}
  50%{background-position:100% 9%}
  100%{background-position:0% 92%}
}
@keyframes movieListAnimation {
  0%{background-position:0% 92%}
  50%{background-position:100% 9%}
  100%{background-position:0% 92%}
}
.film-details h1 {
  color: white;
  padding-left: 1.7vmax;
  padding-bottom: 1vmax;
  font-size: 2vmax;
  border-bottom: 0.1vmax solid gray;
}

#film-detail {
  width: 50%;
  cursor: default;
}
#film-detail > img{
  border-radius: 0.5vmax;
}

.film-list2 {
  width: 100%;
  display: flex;
  justify-content: center;
}