.Genre-list-dashboard {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 3vmax;
    padding-bottom: 4vmax;
    direction: rtl;
    background: linear-gradient(225deg, #000000, #001255, #000000, #8b7900, #000000);
    background-size: 1000% 1000%;

    -webkit-animation: DashboardAnimation 50s ease infinite;
    -moz-animation: DashboardAnimation 50s ease infinite;
    animation: DashboardAnimation 50s ease infinite;
}

@-webkit-keyframes DashboardAnimation {
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
}
@-moz-keyframes DashboardAnimation {
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
}
@keyframes DashboardAnimation {
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
}

.Genre-list-dashboard-h1 {
    color: white;
    direction: ltr;
    width: 100%;
    margin-top: 2vmax;
    margin-bottom: 1.5vmax;
    padding-left: 1.5vmax;
    font-size: 2vmax;
    padding-bottom: 1vmax;
    border-bottom: 0.1vmax solid gray;
}